__pycache__/
bin/
boto3/
boto3-1.17.104.dist-info/
botocore/
botocore-1.20.104.dist-info/
certifi/
certifi-2021.5.30.dist-info/
chardet/
chardet-4.0.0.dist-info/
dateutil/
idna/
idna-2.10.dist-info/
jmespath/
jmespath-0.10.0.dist-info/
python_dateutil-2.8.1.dist-info/
requests/
requests_aws4auth/
requests_aws4auth-1.1.1.dist-info/
requests-2.25.1.dist-info/
s3transfer/
s3transfer-0.4.2.dist-info/
six-1.16.0.dist-info/
urllib3/
urllib3-1.26.6.dist-info/
six.py
LICENSE
History.md
.aws-sam/